<!DOCTYPE html>
<html>
  <head>
    <title>Ortmit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key,value| %>
     <div class="alert alert-<%= key %>" role="alert"><%=value %></div>
    <% end %>
   
   <header> 
    <nav class= "navbar navbar-default navbar-fixed-top navbar-transparent">
     <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li>
           <%= link_to root_path do %>
             <%= image_tag "b.top.png" %>
           <% end %>
          </li>
          <li>
           <%= link_to questions_path do %>
             <%= image_tag "b.q.png" %>
           <% end %>
          </li>
          <li>
           <%= link_to  edit_user_registration_path do %>
            <%= image_tag "b.fixed.png" %>
           <% end %>
          </li>
          <li>
            <%= link_to new_topic_path do %>
             <%= image_tag "b.pencil.png" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do%>
             <%= image_tag "b.exit.png"  %>
            <% end %>
          </li>
           <li>
            <%= link_to myfolders_index_path do %>
             <%= image_tag "b.folder.png" %>
            <% end %>
          </li>
            <li>
            <%= link_to new_user_invitation_path do %>
             <%= image_tag "b.email.png" %>
            <% end %>
          </li>
          <li>
           <%= link_to favorites_index_path do %>
             <%= image_tag "b.like.png" %>
           <% end %>
          </li>
          <li>
           <%= link_to memories_index_path do %>
             <%= image_tag "b.save.png" %>
           <% end %>
          </li>
        </ul>
       </div>
      </nav>
    </header>
        <%= yield %>
        
    <div class="Copyright © 2020 ORTmit All Rights Reserved.">
        <div class="container">
            footer
        </div>
    </div>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>